body {
  background-color: black;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.margin-top-100{
  margin-top: 100px;
}
.m-3{
  margin: 3
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
hr {
  color: black;
  border-color: black;
  background-color: black;
}
.italics{
  font-style: italic;
}
.bg-white{
  background-color: white;
}
.float-left{
  float: left;
}